# dependencies
node_modules
python_modules

# build output
build
dist

# testing
coverage

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars

# turbo
.turbo

# Cloudflare
/functions
.wrangler

# react-email
.react-email

# Cloudflare Pages build is failing when dart and flutter are included
.tool-versions
