.root {
  &[data-variant="subtle"] {
    color: var(--mantine-color-text);
    &:hover {
      color: var(--mantine-color-brand-filled);
    }
  }
}
.lightBg {
  &:not([data-checked]) {
    background-color: var(--mantine-color-gray-light) !important;
    &:hover {
      background-color: var(--mantine-color-gray-light-hover) !important;
    }
  }
}
