.fitContent {
  width: 1%;
  white-space: nowrap;
}

.number {
  width: 1%;
  white-space: nowrap;
  text-align: right;
}

.primaryHeader {
  th {
    padding-top: 0;
  }
}
.secondaryHeader {
  border-bottom: 0;
  th {
    padding-bottom: 0;
  }
}
.cellButton {
  padding: var(--table-vertical-spacing) var(--mantine-spacing-xs);
  line-height: var(--mantine-line-height);
  border: 0;
}
