.fitContent {
  width: 1%;
  white-space: nowrap;
}

.number {
  width: 1%;
  white-space: nowrap;
  text-align: right;
}

.primaryHeader {
  th {
    padding-top: 0;
  }
}
.secondaryHeader {
  border-bottom: 0;
  th {
    padding-bottom: 0;
  }
}
.cellButton {
  padding: var(--table-vertical-spacing) var(--mantine-spacing-xs);
  line-height: var(--mantine-line-height);
  border: 0;
}
.hourInput {
  input {
    text-align: right !important;
  }
}
.pending {
  background-color: light-dark(
    var(--mantine-color-brand-0),
    var(--mantine-color-brand-9)
  );
}
.pendingOverBudget {
  background-color: light-dark(
    var(--mantine-color-secondary-0),
    var(--mantine-color-secondary-9)
  );
}
.budget {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-4)
  );
}
